#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.custom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  gap: 1rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}
.custom-list * {
  height: 32px;
  width: 32px;
}
#contact .card {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: var(--global-bg-clr);
  padding: 1rem;
  border-radius: 1rem;
}

#contact > .card {
  text-align: center;
}
#contact h2 {
  margin-bottom: 1rem;
}

#about > p {
  height: 200px;
  overflow-y: scroll;
  padding: 0rem 0.5rem;
  text-align: justify;
  margin-bottom: 1rem;
}
form {
  border-radius: 1rem;
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}

input:focus,
textarea:focus {
  outline: none;
  border: solid 1px var(--primary-clr);
}

form > * {
  color: var(--txt-clr);
  background-color: transparent;
  padding: 0.3rem 0.3rem;
  border: 1px solid var(--fg-clr);
}
form > textarea {
  resize: none;
}
form > button {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

form > button:hover {
  border-color: var(--primary-clr);
  letter-spacing: 3px;
  filter: opacity(0.9);
}

@media (max-width: 600px) {
  #contact .card {
    width: 90%;
    min-width: 280px;
  }
  .tab {
    margin-bottom: 1rem;
  }
  .tab button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
  }
  .tab > button:hover {
    background-color: var(--primary-clr);
    filter: opacity(0.9);
  }
}
