#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* margin-left: 3rem; */
}
#tag-line {
  margin-top: 3.5rem;
  font-size: 2.5rem;
}
#tag-line > span {
  color: var(--primary-clr);
}
.hero-wrapper > p {
  font-size: var(--txt-600);
  max-width: 733px;
  line-height: 2rem;
  margin-bottom: 3.5rem;
}
.hero-logo {
  font-size: 3rem;
  color: var(--primary-clr);
}
.btn-grp {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 1rem;
}
.btn-grp > button {
  transition: letter-spacing 0.2s linear;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  font-weight: 900;
  font-size: medium;
  color: var(--bg-clr);
}

.btn-grp > button:nth-child(2) {
  background-color: transparent;
  border: solid 1px var(--txt-clr);
  color: var(--txt-clr);
}

.btn-grp > button:first-child:hover {
  filter: opacity(0.8);
}
@media (max-width: 600px) {
  .hero-wrapper {
    padding: 1rem;
    margin: 0rem;
  }
  .hero-logo {
    text-align: center;
  }
  .btn-grp > button {
    flex-grow: 1;
  }
  .btn-grp {
    flex-direction: column;
  }
}
