#root {
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
#main-container {
  background-color: var(--bg-clr);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
section {
  /* padding-left: 6rem; */
  min-width: 300px;
  padding: 2rem;
}

/* All Sections */
.pg-container > * {
  width: 100vw;
  height: 100vh;
  max-width: 1000px;
}

@media (max-width: 600px) {
  #main-container {
    padding: 1.25rem;
  }
}
