* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: var(--txt-clr);
  font-family: "Inconsolata", monospace;
  -webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  display: none;
}

/* select text disable */
html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-cursive-1);
}
ul {
  list-style: none;
}
a {
  cursor: pointer;
}
