@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700;900&family=Lobster&display=swap");
:root {
  --bg-clr: rgb(24, 24, 24);
  --primary-clr: #00ffff;
  --primary-clr-1: #008b8b;
  --primary-clr-2: #d1d1d1;
  --txt-clr: rgba(255, 255, 255, 0.863);
  --txt-clr-2: rgb(24, 24, 24);
  --global-bg-clr: rgba(54, 54, 54, 0.76);
  --fg-clr: rgb(155, 155, 155);

  --nav-clr: rgb(37, 37, 37);
  --txt-300: 0.75rem;
  --txt-400: 1rem;
  --txt-600: 1.25rem;
  --txt-700: 1.5rem;
  --txt-800: 1.75rem;
  --txt-900: 2rem;
  --ff-cursive-1: "Dancing Script", cursive;
  --ff-cursive-2: "Lobster", cursive;
  --ff-global-1: "Inconsolata", monospace;
}
[data-theme="theme-1"] {
}
[data-theme="theme-2"] {
  --primary-clr: #8b00ff;
  --primary-clr-light: #b464ff;
  --primary-clr-dark: #6100b3;
}
[data-theme="theme-3"] {
  --bg-clr: #eae7dc;
  --primary-clr: #e85a4f;
  --global-bg-clr: #d8c3a5;
  --txt-clr: black;
}
[data-theme="theme-4"] {
  --bg-clr: #3aafa9;
  --primary-clr: #17252a;
  --global-bg-clr: #257a78;
  --txt-clr: #def2f1;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: var(--txt-clr);
  font-family: "Inconsolata", monospace;
  -webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  display: none;
}

/* select text disable */
html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body::-webkit-scrollbar {
  display: none;
}
body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

ul {
  list-style: none;
}
a {
  cursor: pointer;
}

button {
  transition: letter-spacing 0.2s linear;
  background-color: var(--primary-clr);
  color: var(--bg-clr);
  border: none;
}
button:hover {
  letter-spacing: 1px;
}
